<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regist</title>
</head>
<body>
    <h1>Registration User</h1>
    <br><br>
    <% if (errors) { %>
        <div>
       <% errors.split(',').forEach(e => { %>
          <%= e %> <br>
          <% }) %>
        </div>
      <% } %>
    <br>
    <br>
    <form action="/registrasi" method="post">
        <div>
            <label for="username">User Name :</label>
            <input type="text" name="username">
        </div>
        <div>
            <label for="email">Email :</label>
            <input type="email" name="email">
        </div>
        <div>
            <label for="password">Password :</label>
            <input type="password" name="password">
        </div>
        <button type="submit"> Save</button>
    </form>
</body>
</html>